@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #313131;
    text-decoration: none;
    background-image: linear-gradient(to right,#fff, #1259a8, #fff);
}

h1 {
    font-family: 'Russo one', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Russo one';
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}

/* css grid layout  */

.main-container {
    --num-cols: 3;
    width: 80vw;
    max-width: 75rem;
    min-width: 20rem;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding: 0 1rem;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-template-rows: auto auto 1fr 1fr auto auto;
    background-color: white;
}

img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

header a {
    position: relative;
    z-index: 2;
}

#blarney-logo {
    max-height: 8rem;
    z-index: 1;
    position: relative;
}

.logo-image {
    grid-row: 1;
    grid-column: 1 / 3;
    justify-self: start;
}

/* navigation menu */

.nav-menu {
    grid-row: 1;
    grid-column: 2 / 5;
    font-family: 'Russo one', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    justify-self: right;
    align-self: center;
    white-space: nowrap;
    letter-spacing: 3px;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #c82828;
    font-weight: 500;
    padding: 5px;
}

ul li {
    list-style: none;
    display: inline;
}

.nav-menu a:hover {
    background-color: #1259a8;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    text-shadow: 1px 1px 3px #313131;
    transition: 0.2s ease;
    box-shadow: 1px 1px 5px #313131;
}

/* Main body section */

.line, #line1 {
    grid-row: 2;
    grid-column: 1 / span 4; 
    margin: 1rem 0; 
}

.main-container .line {
    height: 0.6rem;
    width: 100%;
    justify-self: center;
    background: linear-gradient(0.25turn, #fff, #1259a8, #fff);
}


li .active {
    background-color: #1259a8;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    text-shadow: 1px 1px 3px #313131;
    box-shadow: 1px 1px 5px #313131;
}

.hero-image {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
    max-height: 65vh;
    margin: 0 auto;
}

/* About section */

.about-box {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
    padding: 1rem;
    text-align: justify;
}

span {
    color: #c82828;font-weight: 600;
    letter-spacing: 3px;
}

.about-box > p {
    letter-spacing: 1px;
}

p > a {
    color: #1259a8;
    text-decoration: none;
    font-weight: 600;
}

p a:hover {
    color: #c82828;
}

#line2, .line {
    grid-row: 5;
    grid-column: 1 / 4;
}

/* footer */

.footer-box {
    grid-row: 6;
    grid-column: 1 / span 4;
    color: #fff;
    background-color: #1259a8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    height: 6.25rem;
    width: calc(100% + 2rem);
    white-space: nowrap;
    text-shadow: 2px 2px 3px #313131;
}


footer, .copyright {
    grid-column: 1;
    align-self: center;
    font-size: 90%;
    text-shadow: 0px 0px 10px white;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-size: 110%;
    border-radius: 8px;
    margin: 10px;
    padding: 5px 10px;
}

#social-networks {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
}

.social-link:hover {
    border: 3px solid #fff;
    transition: 0.1s ease;
}

#inc21-logo, .inc21-logo {
    grid-column: 3 /4;
    align-self: end; 
    justify-self: right;
    margin: 10px;
    max-width: 2rem;
    max-height: 2rem;
    box-shadow: 0 0 10px white;
}

#strava {
    background-color: #fc5200;;
    box-shadow: 1px 1px 10px;
}

#instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #e1306c, #fd1d1d);
    box-shadow: 1px 1px 10px;
}

#twitter {
    background-color: #00acee;
    box-shadow: 1px 1px 10px;
}

#facebook {
    background-color: #3b5998;
    box-shadow: 1px 1px 10px;
}

/* gallery page */

.image-container, #image-container {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    gap: 1rem;
    --num-cols: 3;
    --row-height: 20rem;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
}

.image-container, #image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.span-2-row {
    grid-row: span 2;
}

.span-2-col {
    grid-column: span 2;
}

/* Contact page */

#contact-grid {
    margin: 1rem;
    gap: 2rem;
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    display: grid;
    --num-cols: 2;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: min-content;
    text-align: center;
    letter-spacing: 1px;
}

#contact-grid span {
    color: #c82828;
}

.bold {
    font-weight: bold;
}

/* form box */

.contact-us {
    margin: 1rem;
}

.form {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 0 10%;  
    position: relative;
    box-shadow: 0 0 5px 3px lightblue;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
}

input {
    border: 1px solid #1259a8;
    border-radius: 5px;
    position: relative;
    width: 90%;
    margin: 1rem;
    line-height: 1.9rem;
    box-shadow: 2px 2px #bcbcbc;
    padding: 0 0.5rem;
    font-size: inherit;
    letter-spacing: inherit;
  }

label {
    position: absolute;
    z-index: 1;
    left: 17%;
    background-color: white;
}

label > span {
    font-size: 10px;
}

textarea {
    border: 1px solid #1259a8;
    border-radius: 5px;
    position: relative;
    width: 90%;
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1.2rem;
    box-shadow: 2px 2px 5px 2px #bcbcbc;
    resize: none;
    font-size: 1rem;
    letter-spacing: inherit;
}

button {
    font-family: 'Russo one';
    letter-spacing: 3px;
    font-weight: 500;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #1259a8;
    background-color: white;
    color: black;
    text-transform: uppercase;
    line-height: 1em;
    position: absolute;
    left: 14%;
    box-shadow: 0 0 10px 2px #bcbcbc;
}

button:hover {
    background-color: #1259a8;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    text-shadow: 1px 1px 3px #313131;
    transition: 0.4s ease;
    box-shadow: 0 0 10px 2px #bcbcbc;
}

.asterix {
    text-align: center;
    font-size: 10px;
    margin: 60px 0 20px;
}

/* contact box */

.contact-box {
    grid-column: 2;
    grid-row: 1 / 2;
    border-radius: 10px;
    padding: 1rem 10%;
    box-shadow: 0 0 2px 2px lightblue;
}

/* map box */

.map {
    grid-column: 2;
    grid-row: 2 / 3;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 2px 2px lightblue;
    border-radius: 10px;
}

.map > iframe {
    margin: 0 auto;
    display: block;
    width: 100%;
}

/* Confirmation page */

.main-container .confirmation {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    padding: 10rem 0;
    text-align: center;
    letter-spacing: 2px;
    align-self: center;
}

.confirmation span {
    color: #c82828;
}

.confirmation > p {
    padding: 1rem;
}

.confirmation p > a {
    color: #c82828;
    font-weight: 900;
}

.nb {
    text-align: center;
    font-weight: 600;
    font-size: 0.7rem;
    padding: 1rem;
    align-self: end;
}

/* Media query for screens under 1024px */

@media screen and (max-width: 1024px) {
    
    .main-container {
        --num-cols: 2;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .logo-image {
        grid-row: 1;
        grid-column: 1 / 3;
        justify-self: center;
        margin-left: 5px;
    }

    .nav-menu {
        grid-row: 2;
        grid-column: 1 / 3;
        justify-self: center;
        padding: 20px;
        font-size: 80%;
    }

    .line, #line1 {
        grid-row: 3;
    }

    .hero-image {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
        max-height: 28rem;
    }

    

    .about-box {
        grid-row: 6 / 9;
        grid-column: 1 / 3;
        text-align: justify;
    }

    #line2, .line {
        grid-row: 9;
    }

    .footer-box {
        grid-row: 10;
        grid-template-columns: 1fr 1fr;
        height: 9rem;
        font-size: 1rem;
    }

    #social-networks {
        grid-row: 1;
        grid-column: 1 / 3;
        align-self: end;
        justify-self: center;
    }

    footer, .copyright {
        grid-row: 2;
        grid-column: 1 / 3;
        align-self: end;
        justify-self: center;
    }

    #inc21-logo {
        grid-column: 1 /3;
        grid-row: 3;
        justify-self: center;
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 auto;
    }

    #image-container {
        --num-cols: 2;
        --row-height: 13rem;
        padding-top: 3rem;
        grid-auto-flow: dense;
    }

    .span-2-col {
        grid-column: span;
    }
    
    .span-2-row {
        grid-row: span;
    } 

    #contact-grid {
        grid-column: 1 / 3;
        grid-row: 4 / 9;
        --num-cols: 1;
        gap: 2rem;
    }

    .form {
        grid-column: 1;
        grid-row: 2;
        height: auto;
        padding: 2rem;
    }

    .contact-box {
        grid-column: 1;
        grid-row: 1;
        height: auto;
        padding: 2rem;
    }

    .confirmation {
        grid-column: 1 / 3;
        grid-row: 4 / 9;
        align-self: center;
    }
    
    /* map box */
    
    .map {
        grid-column: 1;
        grid-row: 3;
        height: auto;
    }
}

/* Media query for screens under 600px */

@media screen and (max-width: 600px) {
    .nav-menu {
        font-size: 80%;
    }
    
    #image-container {
        --num-cols: 1;
    }

    .span-2-row {
        grid-row: auto;
    }
    
    .span-2-col {
        grid-column: auto;
    }

    .form {
        font-size: 90%;
    }
}

/* Media query for screens under 425px */

@media screen and (max-width: 425px) {
    .main-container {
        width: 95vw;
    }

    .nav-menu {
        font-size: 65%;
    }
}