@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #313131;
    text-decoration: none;
    /* background-color: #fd1d1d; */
}

h1 {
    font-family: 'Russo one', sans-serif;
    text-align: center;
    font-weight: 500;
}

h2 {
    font-family: 'Russo one';
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}


/* css grid layout  */

.main-container {
    width: 80vw;
    min-width: 740px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 10px;
    background-color: white;
    grid-template: repeat(6, auto) / repeat(3, 1fr);
}

img { 
    width: 100%;
    height: 100%;
    /* object-fit:contain; */
    border-radius: 5px;
    }

#blarney-logo {
     max-height: 150px;
     /* padding-left: 10px; */
 }

.logo-image {
    grid-row: 1;
    grid-column: 1 / 3;
    justify-self: start;
    align-self: end;
    padding-left: 3%;
}

/* navigation menu */

.nav-menu {
    grid-row: 1;
    grid-column: 3 / 5;
    font-family: 'Russo one', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
    /* margin-right: 3%; */
    white-space: nowrap;
    letter-spacing: 2px;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #c82828;
    font-weight: 400;
    padding: 5px;
}

ul li {
    list-style: none;
    display: inline;
    /* padding-left: 10px; */
}

.nav-menu a:hover {
    background-color: #1259a8;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-shadow: 1px 1px 3px #313131;
    transition: 0.1s ease;
}

/* Main body section */

.line, #line1 {
    grid-row: 2;
    grid-column: 1 / span 4;  
}

.main-container .line {
    height: 10px;
    width: 100%;
    justify-self: center;
    background: linear-gradient(0.25turn, #fff, #1259a8, #fff);
    padding: 0;
}


li .active {
    background-color: #1259a8;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-shadow: 1px 1px 3px #313131;
}

.hero-image {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    /* max-width: 600px; */
    /* max-height: 700px; */
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* gallery section */

.image-container, #image-container {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    --gap: 16px;
    --num-cols: 3;
    --row-height: 300px;
    /* box-sizing: border-box; */
    padding: 0 0;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-container, #image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.span-2-row {
    grid-row: span 2;
}

.span-2-col {
    grid-column: span 2;
}

/* About section */

.about-box {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
    padding: 10px;
    /* justify-self: center; */
    /* border: 1px solid #1259a8; */
}


#line2, .line {
    grid-row: 5;
    grid-column: 1 / 4;
}

/* footer */

.footer-box {
    grid-row: 6;
    grid-column: 1 / span 4;
    color: #fff;
    background-color: #1259a8;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    margin-bottom: 1px;
    padding: 0 10px 10px 20px;
    /* height: 100px;
    width: 100%; */
    box-sizing: border-box;
    white-space: nowrap;
    text-shadow: 2px 2px 3px #313131;
}


footer, .copyright {
    grid-column: 1;
    align-self: center;
    font-size: 90%;
}

footer a {
    text-decoration: none;
    height: 100px;
    color: inherit;
    font-size: 110%;
    border-radius: 8px;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid lightslategray;
}

#social-networks {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    
}

.social-link:hover {
    border: 3px solid #fff;
    transition: 0.1s ease-in;

}

#inc21-logo, .inc21-logo {
    grid-column: 3 /4;
    align-self: end; 
    justify-self: right;
    margin: 10px;
    width: 35px;
}

#strava {
    background-color: #fc5200;;
}

#instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #e1306c, #fd1d1d);
}

#twitter {
    background-color: #00acee;
}

#facebook {
    background-color: #3b5998;
}

/* Contact page */

#contact-grid {
    padding: 0;
    margin: 0;
    gap: 10px;
    box-sizing: border-box;
    grid-column: 1 / 4;
    grid-row: 3 / 5;

    --num-cols: 2;
    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: auto;
    text-align: center;
}

#contact-grid span {
    color: #c82828;
}

.bold {
    font-weight: bold;
}

/* form box */

.contact-us {
    padding-bottom: 15px;
}

.form {
    grid-column: 1;
    grid-row: 1 / 3;
    border: 1px solid #1259a8;
    height: 610px;
    padding: 10px 10%;  
    position: relative;
    gap: 20px;
}

input {
    border: 1px solid #1259a8;
    border-radius: 5px;
    position: relative;
    width: 70%;
    margin: 10px;
    line-height: 4ex;
  }

label {
    position: absolute;
    z-index: 1;
    left: 25%;
    background-color: white;
    padding: 0 5px;
}

textarea {
    border: 1px solid #1259a8;
    border-radius: 5px;
    position: relative;
    width: 70%;
    margin: 10px;
    line-height: 4ex;
}

button {
    font-family: 'Russo one';
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1259a8;
    background-color: #e8f2fd;
    text-transform: uppercase;
    position: absolute;
    left: 22%;
}

button:hover {
    background-color: #1259a8;
    color: white;
    padding: 10         px;
    border-radius: 5px;
    border: none;
    text-shadow: 1px 1px 3px #313131;
    transition: 0.1s ease;
}

.asterix {
    position: absolute;
    left: 40%;
    font-size: 11px;
    margin: 10px;
}

/* contact box */

.contact-box {
    grid-column: 2;
    grid-row: 1;
    border: 1px solid #8cbcf3;
    height: 400px;
    padding: 10px 10%;
}

/* map box */

.map {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #1259a8;
    height: 200px;
    overflow: hidden;
    padding: 0;
}

.map > iframe {
    margin: 0 auto;
      display: block;
      width: 100%;
}

/* Confirmation page */

.confirmation {
    grid-column: 1 / 4;
    grid-row: 3;
    padding: 30px;
    text-align: center;
}

.confirmation span {
    color: #c82828;
}

.confirmation > p {
    padding: 20px 0 10px 0;
}

.confirmation a {
    color: #c82828;
    /* text-decoration: none; */
    font-weight: 900;
}

.main-container .nb {
    grid-column: span 3;
    text-align: center;
    grid-row: 4;
    font-weight: 600;
    font-size: 11px;
}
